.wrap-selling-product {
  width: 100%;
  margin-top: 90px !important;
}
.header-product {
  font-weight: 500;
  margin-bottom: 10px;
  height: 50px;
  font-size: 18px;
}

.header-product .title-left,
.btn-right {
  display: inline-block;
}

.header-product .btn-right {
  float: right;
}

.header-product .btn-right:hover {
  float: right;
  cursor: pointer;
  color: #6a983c;
}
