.box-avatar{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}

.avatar-img {
    width: 100%;
    height: 100%;
}
.avatar-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.btn-upload{
    position: absolute;
    top: 80%;
    right: 10%;
}

.btn-upload .btn{
    background-color: #6A983C;
    color: white;
}

.btn-upload .btn:hover{
    background-color: white;
    color: black;
}

.btn-edit{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #9F9F9F;
}